.container-about {
  display: flex;
  flex-direction:row;
  justify-content:space-around;

  min-height: 100vh;
  background-color: #f2f2f2;
  padding: 100px;
}

.about-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.about-text {
  
  max-width: 600px;
  margin-bottom: 40px;
}

.about-text h1 {
  font-size: 36px;
  margin-bottom: 20px;
}

.about-text p {
  font-size: 18px;
  margin-bottom: 20px;
}

.about-text hr {
  margin-bottom: 20px;
}

.about-text ul {
  list-style: none;
  padding-left: 0;
}

.about-text li {
  margin-bottom: 10px;
}

.about-image {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  margin-bottom: 40px;
}

.about-image img {
  max-width: 50%;
  height: auto;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.footer {
  background-color: #000;
  color: #fff;
  padding: 20px;
  text-align: center;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
}
